ENVIRONMENT=development

POSTGRES_USER=makeup_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=makeup_db

SECRET_KEY=change_me_please
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173"]