<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel='stylesheet' type="text/css" href="{% static 'css/main_page.css' %}">

</head>
<body>
    <div class="HeaderSection-container">
            <div>Логотип</div>
            <div>
                <a href="{% url 'main_list:main' %}">Главная</a>
                <a href='#'>Портфолио</a>
                <a href='#'>Стоимость</a>
                <a href='#'>Макияж для себя</a>
                <a href='#'>Отзывы</a>
            </div>
            <div>
                <a href='#'> Контакты</a>
            </div>

    </div>
</body>
</html>