        * {
            font-family: Arial, Helvetica, sans-serif; /* тип шрифта. Если нет Arial, настроит Helvetica. Если нет, то семейство шрифтов sans-selif */
        }

        header {
            height: 50px; /* высота содержимого блока */
            margin: 10px; /* толщина внешнего отступа */

        }

        header > .fixed-container {
            background-color: bisque; /* настройка фона */
            padding: 0 10px; /* убираем горизонтальные отступы */
        }

        header > div {
            display: flex; /* подключаем flexbox */
            justify-content: space-between; /* настройка расположения эл-ов относительно главной оси блока */
            align-items: center; /* настройка выравнивания по центру по вертикали */
        }

        section {
            height: 800px; /* настройка высоты */
        }

        section > .fixed-container {
            background-image: url('img/background.jpg'); /* настройка картинки фона */
            padding: 10px; /* толщина внутреннего отступа */
        }

        .fixed-container {
            border: 1px solid rgb(102, 93, 93); /* настройка границы блока */
            max-width: 1000px;
            height: 100%; /* высотка div=высоте самого контейнера */
            margin-left: auto;
            margin-right: auto;
            /* задаем выравнивание блока по центру с максимальной длиной 1000px */

        }

        .center-container {
            text-align: center; /* выравнивание по центру */
        }

        .blocks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px; /* настройка внешнего отступа внизу блока */
        }

        .blocks img {
            width: 150px; /* ширина картинки */

        }

        body {
            font-style: italic;
            background-color: #968e8e0f;
        }

        m {
            color:rgb(0, 255, 0);
        }

        .bold {
            font-weight: bold; /* жирный текст */
        }

        .underline {
            text-decoration: underline; /* подчеркнутый текст */
        }

        .line-through {
            text-decoration: line-through; /* зачеркнутый текст */
        }

        .italic {
            font-style: italic; /* курсив */
        }

        h1 {
            text-align: center;
            color: blueviolet;
        }

        section > div > h5{
            color: rgb(1, 34, 34);
            margin: 5px;
            text-align: center;

        }

        section > div > span > b > a {
            color: #04f34c;
        }

        section > div > span > b > a:hover { /* настройки при наведении курсивом на кнопку */
            color: red;
            text-decoration: none; /* убираем подчеркивание */
        }

        .call-button {
            background-color: pink;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 5px;
            color:yellowgreen;
            cursor: pointer; /* появление лапки при наведении */
        }

        .call-button:hover {
            color: red;
        }

        .numbers-table {
            border: 1px solid black;
            border-collapse: collapse;
            margin: auto; /* выравнивание таблицы по центру */
        }

        .numbers-table td, .numbers-table th {
            border: 1px solid black;
            padding: 5px;
        }

        .numbers-table thead {
            background-color: #249044;
        }

        .numbers-table tbody {
            background-color: #8dc39d;
        }

        .numbers-table tfoot {
            background-color: #6a6d6b;
            font-weight: bold;
            text-align: center;
        }

        footer {
            margin: 30px;
        }

        footer > .fixed-container {
            text-align: center;
            background-color: bisque;
            padding: 10px;
        }

        .popup-container {
            background-color: rgba(0, 0, 0, 0.395)  ;
            position: fixed; /* чтобы данный блок шел поверх всех остальных */
            width: 100%;
            height: 100%;
            display: none; /* полностью скрывает данный объект */
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        .popup {
            background-color: aliceblue;
            width: 500px;
            height: 500px;
            padding: 30px;
            border-radius: 15%; /* закругление углов блока */
            display: flex;
            flex-direction: column; /* чтобы элементы блока шли сверху вниз */
            align-items: center;

         }