  body {
    margin: 0;
    background-color: #968e8e0f;
  }

  .HeaderSection-container {
   font-family: Times New Roman,  sans-serif;
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   height: 90px;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
   color: #ebd61e;
   }

  .HeaderSection-container > div > a {
  color: #ebd61e;
  background-color: black;
  margin: 0;
  padding: 25px;
  text-decoration: none;
  }

  .HeaderSection-container > div > a:hover {
   color: red;
  }

  .MainSection-container {
   border: 1px solid rgb(102, 93, 93);
   max-width: 1000px;
   height: 761px;
   margin-left: auto;
   margin-right: auto;
   background-color: white
   }

   .MainSection-container > img {
    height: 500px;
   }

   .FooterSection-container {
   border: 1px solid rgb(102, 93, 93);
   height: 90px;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
   color: #ebd61e;
   display: flex;
   justify-content: center;
   align-items: center;
   }

   .FooterSection-container > div > img {
   height: 40px;
   }